body,
ul,
h1,
h2,
h3,
h4,
p,
footer,
main {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #214f57 60%, #a35249);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: white;
}
header {
  width: 100%;
  background-color: #18374b;
  color: white;
}

.fa-piggy-bank {
  color: #f3ac50;
}

main {
  display: flex;
  flex-direction: column;
}

header h1 {
  padding: 20px;
}

.overview {
  margin: 10px;
  background-color: #208e8f;
  text-align: center;
  border-radius: 10px;
}

.remaining-budget {
  margin: 10px;
}

.remaining-budget-text {
  font-size: 36px;
}
.total-container {
  display: flex;
  margin: 10px;
}
.total-spent {
  flex: 1;
  background-color: #7d595d;
  border-right: 5px solid #208e8f;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 0;
}

.total-budget {
  flex: 1;
  background-color: #7d595d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 0;
}
.middle {
  display: flex;
  margin: 10px;
  text-align: center;
  justify-content: space-between;
}

.categories {
  width: 40%;
  background-color: #18374b;
  padding: 20px;
  border-radius: 10px;
}
/* hover effect */
/* .hover-effect:hover {
  background-color: #f3ac50;
} */

.hover-effect {
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.hover-effect:before {
  content: "";
  background: linear-gradient(
    45deg,
    #12232e,
    #18374b,
    #7d595d,
    #f3ac50,
    #208e8f,
    #214f57
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 10s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.hover-effect:active {
  color: #000;
}

.hover-effect:active:after {
  background: transparent;
}

.hover-effect:hover:before {
  opacity: 1;
}

.hover-effect:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #18374b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* hover effect */

/* arrow effect */
#arrowAnim {
  /* width: px; */
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.go-back-button {
  font-weight: 100;
  z-index: 3;
}

.arrow {
  width: 2vw;
  height: 2vw;
  border: 1.5vw solid;
  border-color: #18374b transparent transparent #12232e;
  transform: rotate(-45deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  20% {
    opacity: 1;
    transform: translateX(9vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-9vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  20% {
    opacity: 1;
    transform: translateX(9vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-9vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}

/* arrow effect */

.update-budget {
  width: 40%;
  background-color: #18374b;
  padding: 20px;
  border-radius: 10px;
}

.transaction-section {
  margin: 10px;
  background-color: #208e8f;
  height: 550px;
  overflow: auto;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}

.transaction-row {
  position: sticky;
  top: 0;
  background-color: #18374b;
}

.remove-column {
  width: 12%;
}

.amount-column {
  width: 15%;
}

.categories-column {
  width: 33%;
}

.categories-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.categories-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.categories-list h4 {
  text-align: center;
  font-size: 45px;
  margin: 15px;
}

.categories-list ul li {
  font-size: 25px;
  margin: 10px;
}
.fa-angles-left {
  font-size: 40px;
  padding-top: 35px;
}

.categories-list {
  background-color: #208e8f;
  padding: 5% 10%;
  border-radius: 10px;
}

.form-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.expense-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.expense-form {
  background-color: #18374b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  padding: 20px;
  width: 50%;
  height: 50%;
}

.expense-form label {
  font-size: 25px;
  margin-top: 15px;
}
.expense-form h4 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.budget-form {
  background-color: #18374b;
  padding: 20px;
  border-radius: 10px;
}

.budget-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}

.budget-form button,
.expense-form button {
  border-style: none;
  padding: 10px 25px;
  background-color: #18374b;
  transition: all 0.3s;
  position: relative;
  color: white;
}

.budget-form button::before,
.expense-form button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.budget-form button:hover::before,
.expense-form button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.budget-form button::after,
.expense-form button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: #12232e;
  opacity: 0.4;
}
.budget-form button:hover::after,
.expense-form button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.expense-form button {
  margin: 10px;
}

.transaction-section table {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer button {
  display: block;
  width: 100%;
  background-color: #12232e;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 20px 0;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.5s;
  border-style: none;
}

footer button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

footer button span {
  position: relative;
  z-index: 2;
}

footer button:hover:after {
  width: 100%;
}

footer button:hover {
  background-color: #d40028;
  color: white;
}

.broken-piggy {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.piggy-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
}
.broken-piggy img {
  position: relative;
  width: 40%;
}
.broken-piggy p {
  font-size: 3vw;
  position: absolute;
  top: 0;
  z-index: 2;
  color: white(31, 153, 31);
  background-color: #12232e;
  width: 40%;

  text-align: center;
}
.toggle-modal {
  display: none;
}
.toggle-expense {
  display: none;
}
.toggle-piggy {
  display: none;
}

.expense-button {
  font-size: 20px;
}

.table-caption {
  font-size: 25px;
  background-color: #18374b;
  padding: 10px 0;
}

.transaction-section table {
  border: none;
}

.pie-chart {
  width: 90%;
  text-align: center;
}

/* #myChart {
  width: 40%;
  height: 30%;
  border: none;
} */

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .overview {
    height: 40%;
    flex: 1;
    overflow: auto;
  }
  .middle {
    height: 40%;
    flex: 1;
  }

  .categories,
  .update-budget {
    display: none;
  }

  .categories-list {
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .close-categories,
  #arrowAnim {
    display: none;
  }

  .form-modal {
    position: static;
    background-color: transparent;
    z-index: 0;
  }

  .expense-form {
    width: 35%;
  }

  .transaction-section {
    position: absolute;
    top: 43%;
    width: 98%;
    height: 350px;
  }

  .transaction-list td {
    padding: 5px 0;
  }

  .toggle-modal {
    display: flex;
  }

  .categories-modal {
    position: static;
    background-color: transparent;
    width: 100%;
    z-index: 0;
  }

  .broken-piggy img {
    width: 350px;
  }

  .broken-piggy p {
    width: 350px;
    font-size: 20px;
  }

  .expense-button {
    font-size: 25px;
  }

  .table-caption {
    font-size: 35px;
  }
}
