body,
ul,
h1,
h2,
h3,
h4,
p,
footer,
main {
  margin: 0;
  padding: 0;
}

body {
  background-color: #214f57;
  height: 100vh;
  color: white;
}
header {
  width: 100%;
  background-color: #18374b;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

header h1 {
  padding: 20px;
}

.overview {
  margin: 10px;
  background-color: #208e8f;
  text-align: center;
  border-radius: 10px;
}

.remaining-budget {
  margin: 10px;
}

.remaining-budget-text {
  font-size: 36px;
}
.total-container {
  display: flex;
  margin: 10px;
}
.total-spent {
  flex: 1;
  box-sizing: border-box;
  border: 2px solid black;
}

.total-budget {
  flex: 1;
  border: 2px solid black;
  box-sizing: border-box;
}
.middle {
  display: flex;
  margin: 10px;
  text-align: center;
  justify-content: space-between;
}

.categories {
  width: 40%;
  background-color: #18374b;
  padding: 20px;
  border-radius: 10px;
}

.categories:hover {
  background-color: #f3ac50;
}

.update-budget {
  width: 40%;
  background-color: #18374b;
  padding: 20px;
  border-radius: 10px;
}

.update-budget:hover {
  background-color: #f3ac50;
}

.transaction-section {
  border: 1px solid black;
  margin: 10px;
  background-color: #208e8f;
  height: 250px;
  overflow: auto;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}

.transaction-row {
  position: sticky;
  top: 0;
  background-color: #18374b;
}

.remove-column {
  width: 12%;
}

.amount-column {
  width: 15%;
}

.categories-column {
  width: 33%;
}

.categories-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.categories-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.categories-list h4 {
  text-align: center;
  font-size: 45px;
  margin: 15px;
}

.categories-list ul li {
  font-size: 25px;
  margin: 10px;
}
.fa-angles-left {
  font-size: 40px;
  padding-top: 35px;
}

.categories-list {
  background-color: #208e8f;
  padding: 10% 10% 5% 10%;
  border-radius: 10px;
}

.form-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.expense-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.expense-form {
  background-color: #18374b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  padding: 20px;
  width: 40%;
  height: 40%;
}

.expense-form label {
  font-size: 25px;
  margin-top: 15px;
}
.expense-form h4 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.budget-form {
  background-color: #18374b;
  padding: 20px;
  border-radius: 10px;
}

.budget-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}

.transaction-section table {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer button {
  width: 99%;
  background-color: #12232e;
  padding: 20px 0;
  color: white;
  border-style: none;
}

footer button:hover {
  background-color: #d40028;
}

.broken-piggy {
  position: fixed;
  z-index: 1;
  background-color: rgba(167, 38, 5, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.piggy-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
}
.broken-piggy img {
  position: relative;
  width: 40%;
}
.broken-piggy p {
  font-size: 3vw;
  position: absolute;
  top: 0;
  z-index: 2;
  color: rgb(31, 153, 31);
  border: 1px solid black;
  background-color: black;
  width: 40%;

  text-align: center;
}
.toggle-modal {
  display: none;
}
.toggle-expense {
  display: none;
}
.toggle-piggy {
  display: none;
}

.expense-button {
  font-size: 20px;
}

.table-caption {
  font-size: 25px;
  background-color: #18374b;
  padding: 10px 0;
}

.transaction-section table {
  border: none;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .overview {
    height: 40%;
    flex: 1;
  }
  .middle {
    height: 40%;
    flex: 1;
  }

  .categories,
  .update-budget {
    display: none;
  }

  .categories-modal {
    position: static;
    background-color: transparent;
    width: 100%;
    z-index: 0;
  }

  .categories-list {
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .close-categories {
    display: none;
  }

  .form-modal {
    position: static;
    background-color: transparent;
    z-index: 0;
  }

  .transaction-section {
    position: static;
    top: 42%;
    width: 98%;
  }

  .toggle-modal {
    display: flex;
  }

  .broken-piggy img {
    width: 350px;
  }

  .broken-piggy p {
    width: 350px;
    font-size: 20px;
  }

  .expense-button {
    font-size: 25px;
  }

  .table-caption {
    font-size: 35px;
  }
}
